/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 6, 2018, 2:38:21 AM
    Author     : Nina
*/

html, body {
    height: 100%;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: Arial !important;
    background-image: url("#{resource['img:bg1.jpg']}");

    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    margin-top: 120px;
}

.footer-top-container {
    background-color: #ccc;
    color: #4C4C4C;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 16px;
}

.footer-top-container > div > div > div:nth-child(1) {
    text-align: center;
    /*padding-left: 0px;*/
}

.footer-top-container > div > div > div:nth-child(1) > table > tbody > tr:nth-child(1) > td {
    padding-bottom: 10px;
}

.footer-top-container > div > div > div:nth-child(1) > table > tbody > tr:nth-child(1) > td > span {
    font-family: BebasNeueRegular;
    font-size: 22px;
}

.footer-top-container > div > div > div:nth-child(2) {
    text-align: center;
}

.footer-top-container > div > div > div:nth-child(2) > table > tbody > tr:nth-child(1) > td {
    padding-bottom: 10px;
}

.footer-top-container > div > div > div:nth-child(2) > table > tbody > tr:nth-child(1) > td > span {
    font-family: BebasNeueRegular;
    font-size: 22px;
}

.footer-top-container > div > div > div:nth-child(3) {
    text-align: right;
    padding-right: 0px;
}

.footer-bottom-container {
    background-color: #4C4C4C;
    color: white;
    font-size: 12px;
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 40px;
}

.footer-bottom-container > div > div > div:nth-child(1) {
    text-align: left;
    padding-left: 0px;
}

.footer-bottom-container > div > div > div:nth-child(2) {
    text-align: right;
    padding-right: 0px;
}

@font-face {
    font-family: "BebasNeueRegular";
    src: url("#{resource['fonts:BebasNeueRegular.otf']}");
}

.boldText {
    font-weight: bold;
}

.defaultTopMargin {
    margin-top: 100px;
}

.loginButton {
    width: 100%;
}

nav {
    border: none !important;
}

.navbar {
    margin-bottom: 40px !important;
}

.navbar-nav {
    width: 100% !important;
    text-align: center !important;
    border: 0px;
}

.navbar-nav > li {
    float: none !important; 
    display: inline-block !important;
    padding: 15px 30px;
    padding-bottom: 10px;
    margin-bottom: 5px;
}

.navbar-nav > li > a {
    color: white !important;
    text-transform: uppercase;
    font-family: BebasNeueRegular, arial, Georgia, serif;
    font-size: 20px !important;
    padding: 0px !important;
}

.navbar-nav > li  > a:hover {
    text-decoration: none !important;
}

.navbar-nav > li > a:active {
    text-decoration: none !important;
}

.navbar-nav > li > a:visited {
    text-decoration: none !important;
}

#navbar-categories {
    background-color: orangered;
}

.cultural-icon {
    height: 50px;
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
    padding-bottom: 10px;
    margin-bottom: 4px;
}

#top-nav {
    background-color: coral;
    color: white;
    padding-top: 10px;
}

.top-nav-link {
    color: white !important;
    font-weight: bold;
}

.top-nav-link:hover {
    color: white !important;
    font-weight: bold;
    text-decoration: none;
}

#nav-middle {
    background-color: coral;
    padding-bottom: 30px;
    padding-top: 10px;
    width: 100%;
}

.nav-logo {
    height: 50px;
    -webkit-filter: brightness(0) invert(0.3);
    filter: brightness(0) invert(0.3);
}

.nav-logo-footer {
    height: 40px;
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}

.input-group-addon {
    background-color: #aaa !important;
    border-color: #aaa !important;
    border-radius: 0px !important;
    padding: 6px 9px !important;
    border: none !important;
    color: white !important;
}

.logo-col {
    padding-left: 0px !important;
}

.search-col-1 {
    padding-top: 5px;
}

.search-col-2 {
    padding-right: 0px !important;
    padding-left: 0px !important;
    height: 50px;
    padding-top: 5px;
}

.search-input-text {
    border: none !important;
    border-radius: 0px !important;
    height: 40px !important;
}

.search-button {
    border: none !important;
    border-radius: 0px !important;
    height: 40px;
    background-color: #4C4C4C !important;
    color: white !important;
    width: 41px !important;
}

.filter-button {
    background-color: #4C4C4C !important;
    border-radius: 0px !important;
    border: none !important;
    color: white !important;
    height: 40px;
    padding-left: 15px !important;
    padding-right: 15px !important;
    font-family: BebasNeueRegular;
    font-size: 16px !important;
}

.modal-content {
    border-radius: 0px !important;
    border: none !important;
}

.modal-dialog {
    width: 450px !important;
}

#pretraga_vesti\:amodal_header, #oglas\:amodal_header, #dogadjaj\:amodal_header, #vest\:amodal_header, #vest\:amodal_brisanje_header, #vest\:amodal_arhiviranje_header,
#korisnici\:amodal_brisanje_header, #korisnici\:amodal_prihvatanje_header, #izmena_podataka\:amodal_prihvatanje_header, #izmena_podataka\:amodal_brisanje_header,
#vest\:amodal_izmena_header, #sifarnici\:amodal_izmena_header, #sifarnici\:amodal_brisanje_header, #kreiranje_izvestaja\:slanje_izvestaja_header {
    display: none;
}

.stripe-line-header {
    width: 100%;
    background-image: url("#{resource['img:stripe.png']}");
    height: 12px;
    text-align: center;
}

.stripe-line-header-content {
    display: inline-block;
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    font-family: BebasNeueRegular;
    font-size: 22px;
    margin-top: -15px;
}

.search-type-option {
    font-family: BebasNeueRegular;
    font-size: 16px;
    border: 1px solid #eee;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.event-type-option {
    text-align: center;
    padding-top: 10px;
}

.search-type-checkbox {
    margin-top: 6px !important;
}

.custom-checkbox {
    height: 25px;
    width: 25px;
    display: inline-block;
}

.custom-checkbox-unchecked {
    background-color: #eee;
}

.custom-checkbox-unchecked:hover {
    background-color: #ccc;
}

.custom-checkbox-checked {
    background-image: url("#{resource['img:checked.png']}");
    background-size: cover;
}

.custom-checkbox > div > div > label {
    min-height: 25px;
    min-width: 25px;
}

.custom-checkbox > div > div > label > input {
    cursor: pointer;
}

.custom-checkbox-checked {
    background-image: url("#{resource['img:checked.png']}");
    background-size: contain;
}

.custom-checkbox > div > div {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.custom-checkbox > div {
    margin-bottom: 0px !important;
}

.custom-checkbox-bootsfaces {
    visibility: hidden;
}

.place-select {
    border-radius: 0px !important;
    border: 1px solid #eee !important;
}

.custom-select {
    margin-top: 20px;
    outline: none !important;
    margin-bottom: 20px;
}

.custom-select > div select {
    background: transparent;
    padding: 5px;
    height: 35px;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    outline: none !important;
    box-shadow: none;
}

.custom-select > div > select {
    border: 1px solid #ddd !important;
}

.custom-select > div select:focus {
    outline: none !important;
}

.custom-select > span {
    font-family: BebasNeueRegular;
    font-size: 18px;
}

.custom-select > div select::-ms-expand {
    display: none !important;
}

.custom-select > div {
    background: url("#{resource['img:arrow_down.png']}") no-repeat right #ffffff;
    overflow: hidden;
    height: 35px;
    outline: none !important;
}

select:focus {
    outline: none !important;
    outline-color: transparent !important;
}

.custom-datepicker {
    margin-top: 20px;
    margin-bottom: 20px;
}

.custom-datepicker-bootsfaces {
    cursor: pointer;
    margin-top: 20px;
}

.custom-datepicker-bootsfaces > div {
    width: 100%;
    border: 1px solid #eee !important;
    padding: 0px;
}

.custom-datepicker-bootsfaces > input {
    height: 35px;
    border-radius: 0px !important;
    border: 1px solid #ddd;
    box-shadow: none !important;
}

.custom-datepicker-bootsfaces > input:focus {
    border-color: #ccc !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(170, 170, 170, 0.6) !important;
}

.custom-datepicker-bootsfaces > span {
    padding-left: 11px;
    padding-right: 10px;
    border-radius: 0px !important;
    background-color: orangered;
}

.custom-datepicker-bootsfaces > span > span {
    color: white !important;
}

.custom-datepicker-bootsfaces > .input-group-addon {
    background-color: orangered !important;
    border-color: orangered !important;
    padding: 6px 10px !important;
}

.custom-datetimepicker-bootsfaces {
    margin-top: 0px !important;
}

.custom-datetimepicker-bootsfaces > input {
    margin-top: 0px !important;
}

.ui-datepicker {
    border-radius: 0px !important;
    border-color: #ccc !important;
}

.ui-datepicker-header {
    border-radius: 0px !important;
    background-color: orangered !important;
    color: white !important;
    font-family: BebasNeueRegular;
    font-size: 18px !important;
    border-color: orangered !important;
}

.ui-datepicker-prev {
    color: white !important;
}

.ui-datepicker-next {
    color: white !important;
}

.ui-datepicker-prev:hover {
    background-color: orangered !important;
    border: none !important;
    cursor: pointer;
}

.ui-datepicker-next:hover {
    background-color: orangered !important;
    border: none !important;
    cursor: pointer;
}

.ui-datepicker-calendar {
    font-family: BebasNeueRegular;
}

.ui-state-default {
    background: #eee !important;
    border-color: #eee !important;
}

.ui-state-highlight {
    background-color: coral !important;
    color: white !important;
    border-color: coral !important;
}

.ui-state-active {
    background-color: orangered !important;
    color: white !important;
}

.big-red-button {
    width: 100% !important;
    background-color: orangered !important;
    border-radius: 0px !important;
    border: none !important;
    height: 35px;
    font-family: BebasNeueRegular;
    font-size: 18px !important;
    line-height: 18px !important;
}

#pretraga_vesti\:amodal_footer, #oglas\:amodal_footer, #dogadjaj\:amodal_footer, #vest\:amodal_footer, #vest\:amodal_brisanje_footer, #vest\:amodal_arhiviranje_footer
#korisnici\:amodal_brisanje_footer, #korisnici\:amodal_prihvatanje_footer, #izmena_podataka\:amodal_prihvatanje_footer, #izmena_podataka\:amodal_brisanje_footer,
#vest\:amodal_izmena_footer, #sifarnici\:amodal_izmena_footer, #sifarnici\:amodal_brisanje_footer, #kreiranje_izvestaja\:slanje_izvestaja_footer {
    border: none !important;
    padding-top: 0px !important;
}

#pretraga_vesti\:amodal_body, #oglas\:amodal_body, #dogadjaj\:amodal_body, #vest\:amodal_body, #vest\:amodal_brisanje_body, #vest\:amodal_arhiviranje_body,
#korisnici\:amodal_brisanje_body, #korisnici\:amodal_prihvatanje_body, #izmena_podataka\:amodal_prihvatanje_body, #izmena_podataka\:amodal_brisanje_body,
#vest\:amodal_izmena_body, #sifarnici\:amodal_izmena_body, #sifarnici\:amodal_brisanje_body, #kreiranje_izvestaja\:slanje_izvestaja_body {
    padding-bottom: 0px !important;
}

.main-content {
    background-color: white;
}

.main-content > div {
    padding: 10px;
}

.featured-col-container {
    padding: 5px !important;
}

.featured-col {
    position: relative;
    background-size: cover !important;
    background-position: center !important;
}

.featured-col-bigger {
    padding-bottom: 50%;
}

.featured-col-smaller {
    padding-bottom: 60%;
}

.featured-content {
    border: 1px solid #ccc;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

/*.featured-bigger {
    height: 215px !important;
}

.featured-smaller {
    height: 215px !important;
}*/

.featured-content-table {
    width: 100%;
    height: 100%;
    background-position: center !important;
    -webkit-background-size: cover !important;
    background-size: cover !important;
    -o-background-size: cover !important;
    position: absolute;
}

.featured-content-table > tbody > tr > td {
    padding: 20px !important;
}

.featured-content-table > tbody > tr:nth-child(1) > td {
    padding-bottom: 0px !important;
    vertical-align: top;
    height: 50%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100 */
    background: -moz-linear-gradient(top, rgba(0,0,0,0.35) 0%, rgba(0,0,0,0) 80%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0,0) 80%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0) 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.featured-content-table tbody tr:nth-child(2) td {
    padding-top: 0px !important;
    vertical-align: bottom;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100 */
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.35) 80%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.35) 80%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.35) 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a2000000',GradientType=0 ); /* IE6-9 */
}

.date-table {
    color: white;
    font-size: 12px;
}

.date-table > tbody > tr > td {
    vertical-align: middle;
}

.date-table > tbody > tr > td:nth-child(1) {
    padding-top: 1px;
    padding-right: 10px;
}

.featured-news-header {
    color: white;
    font-size: 16px;
    font-weight: bold;
    /*height: 23px;
    overflow: hidden;*/
    margin-top: 7px;
    line-height: 19px;
}

.featured-news-content {
    color: white;
    font-size: 12px;
    height: 35px;
    overflow: hidden;
    margin-top: 7px;
    word-break: break-all !important;
}

.featured-news-content * {
    display: inline !important;
    font-size: 12px !important;
    text-decoration: none !important;
    font-weight: normal !important;
    color: white !important;
    font-style: normal !important;
    padding: 0px !important;
    margin: 0px !important;
}

.news-category-header {
    text-align: left !important;
}

.news-category-header > div:nth-child(1), .stripe-line-header-link {
    display: inline-block;
    background-color: white;
    padding-right: 15px;
    font-family: BebasNeueRegular;
    font-size: 22px;
    margin-top: -15px;
}

.events-calendar > div {
    display: inline-block;
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    font-family: BebasNeueRegular;
    font-size: 22px;
    margin-top: -15px;
}

.page-content {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 30px;
}

.event-keywords {
    border-radius: 0px !important;
    border: 1px solid #eee !important;
    box-shadow: none !important;
}

.form-group {
    margin-bottom: 0px !important;
}

.featured-news-category {
    background-color: orangered;
    color: white;
    text-transform: uppercase;
    display: inline-block;
    padding: 5px 10px;
    font-size: 12px;
    margin-bottom: 5px;
}

.news-category-front-page {
    margin-top: 15px !important;
    margin-left: 0px !Important;
    margin-right: 0px !important;
    margin-bottom: 30px !important;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #e6e6e6;
    border-bottom: 3px solid orangered;
    -webkit-box-shadow: 0 0 10px #e6e6e6;
    box-shadow: 0 0 10px #e6e6e6;
}

.news-image-container-front-page {
    position: relative;
    width: 100%;
    padding-bottom: 60%;
    background-size: cover !important;
    background-position: center !important;
}

.news-header-container-front-page {
    margin-top: 10px;
    height: 44px;
    overflow: hidden;
    font-size: 16px;
    line-height: 18px;
    font-family: BebasNeueRegular;
}

.news-content-container-front-page {
    margin-top: 5px;
    font-size: 12px;
    height: 69px;
    overflow: hidden;
}

.news-content-container-front-page * {
    display: inline !important;
    font-size: 12px !important;
    text-decoration: none !important;
    font-weight: normal !important;
    color: #4C4C4C !important;
    font-style: normal !important;
    padding: 0px !important;
    margin: 0px !important;
}

.test-class {
    width: 100%;
    position: relative;
    padding-bottom: 60%;
}

.news-category-icon-footer {
    width: 20px;
    -webkit-filter: brightness(0) invert(0.3);
    filter: brightness(0) invert(0.3);
}

.news-category-footer {
    font-family: BebasNeueRegular;
}

.news-thumbnail-container {
    width: 100%;
    padding-bottom: 65%;
    position: relative;
    background-position: center !important;
    background-size: cover !important;
    margin-top: 5px;
}

.news-data-table {
    border: none !important;
}

.news-data-table > thead {
    display: none;
}

.odd {
    background-color: transparent !important;
}

.even {
    background-color: transparent !important;
}

.news-data-table > tbody > tr > td {
    border: none !important;
    width: 50%;
    border-bottom: 1px solid #eee !important;
    padding-bottom: 12px !important;
}

.news-data-table > tbody > tr > td:nth-child(2) {
    padding-top: 28px;
}

table.dataTable {
    border: none !important;
}

.news-heading {
    font-size: 16px;
    font-weight: bold;
    color: #4C4C4C;
}

.news-text {
    padding-top: 10px;
    word-break: break-all !important;
}

.news-text * {
    display: inline !important;
    font-size: 14px !important;
    text-decoration: none !important;
    font-weight: normal !important;
    color: #4C4C4C !important;
    font-style: normal !important;
    padding: 0px !important;
    margin: 0px !important;
}

.read-more-button {
    background-color: orangered !important;
    color: white !important;
    border: none !important;
    border-radius: 0px !important;
    padding: 5px 15px !important;
    font-size: 16px !important;
    text-transform: uppercase;
    font-family: BebasNeueRegular;
}

.news-date {
    font-size: 12px;
}

.news-category-img-icon {
    -webkit-filter: brightness(0) invert(0.1);
    filter: brightness(0) invert(0.1);
    width: 12px;
    margin-bottom: 3px;
}

.pagination {
    font-size: 14px !important;
    font-family: BebasNeueRegular;
    margin-right: 15px !important;
}

.paginate_button > a {
    border: 1px solid #eee !important;
    color: #4C4C4C !important;
}

.active > a {
    background-color: orangered !important;
    border-color: orangered !important;
    font-family: BebasNeueRegular;
    font-size: 14px !important;
    color: white !important;
}

.previous > a {
    border-radius: 0px !important;
    visibility: hidden;
}

.previous > a:after {
    content: "Prethodna";
    position: absolute;
    border: 1px solid #eee;
    padding: 6px 12px;
    margin-top: -7px;
    margin-left: -62px;
    visibility: visible;
}

.next > a {
    border-radius: 0px !important;
    visibility: hidden;
}

.next > a:before {
    content: "Sledeća";
    position: absolute;
    border: 1px solid #eee;
    padding: 6px 12px;
    margin-top: -7px;
    margin-left: -13px;
    visibility: visible;
}

.dataTables_wrapper > div:nth-child(1) > div:nth-child(1) {
    display: none;
}

.dataTables_wrapper > div:nth-child(1) > div:nth-child(2) {
    max-width: 100% !important;
    width: 100% !important;
}

.dataTables_filter {
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}

.dataTables_filter > label {
    margin-right: 0px !important;
}

.dataTables_filter > label > input {
    margin-right: 0px !important;
    height: 40px !important;
    border-radius: 0px !important;
    border-color: #ddd;
    padding: 6px 12px !important;
    box-shadow: none !important;
}

.dataTables_filter > label:before {
    content: 'Pretraga';
    position: absolute;
    background-color: #4C4C4C;
    color: white;
    font-family: BebasNeueRegular;
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    margin-left: -25px;
}

.dataTables_wrapper {
    margin-top: 20px;
}

.dataTables_paginate {
    padding-top: 10px;
}

.news-content-sm-devices {
    padding-top: 5px;
    display: none;
}

.customNewsLink, .customNewsLink:hover, .customNewsLink:active, .customNewsLink:visited, .customNewsLink:focus {
    color: #4C4C4C;
    text-decoration: none;
}

.news-thumbnail-header {
    margin-top: 20px;
    width: 100%;
}

.news-title-news-page {
    padding-top: 20px;
    font-family: BebasNeueRegular;
    font-size: 36px;
    line-height: 34px;
}

.news-parameters-news-page {
    font-size: 12px;
    margin-top: 30px;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.login-form-wrapper {
    margin-top: 20px;
}

.login-form-wrapper > div:nth-child(1) {
    padding-right: 7.5px !important;
}

.login-form-wrapper > div:nth-child(2) {
    padding-left: 7.5px !important;
}

.container-w-red-header {

}

.container-w-red-header-header {
    background-color: orangered;
    font-family: BebasNeueRegular;
    font-size: 24px;
    color: white;
    text-align: center;
    padding: 10px;
}

.container-w-red-header-content {
    border: 1px solid #e6e6e6;
    border-bottom: 3px solid orangered;
    box-shadow:0 3px 6px 0 rgba(230, 230, 230, 0.7) ;
    -moz-box-shadow:0 3px 6px 0 rgba(230, 230, 230, 0.7) ;
    -webkit-box-shadow:0 3px 6px 0 rgba(230, 230, 230, 0.7) ;
    -khtml-box-shadow:0 3px 6px 0 rgba(230, 230, 230, 0.7) ;
    padding: 15px;
}

.login-form-label {
    font-weight: bold;
}

.login-form-input {
    border: 1px solid #ddd !important;
    border-radius: 0px !important;
    height: 35px !important;
    margin-top: 5px;
    box-shadow: none !important;
    margin-bottom: 10px !important;
}

.login-form-input:focus {
    border-color: #ccc !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(170, 170, 170, 0.6) !important;
}

.login-form-input-error {
    border: 1px solid #DC3545 !important;
    margin-bottom: 5px !important;
}

.login-form-input-error:focus {
    border-color: red !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(204, 204, 204, 0.6) !important;
}

.login-form-submit {
    border: none !important;
    background: #4C4C4C !important;
    color: white !important;
    font-family: BebasNeueRegular;
    width: 100%;
    font-size: 20px !important;
    border-radius: 0px !important;
    margin-top: 15px;
}

.select2, .select2-selection {
    height: 35px !important;
    width: 100% !important;
}

.select2-selection, .select2-search__field, select2-dropdown, .select2-dropdown--above, .select2-dropdown--below {
    border-radius: 0px !important;
    border: 1px solid #ddd !important;
}

.select2-dropdown--above, .select2-dropdown--below {
    background-color: #eee !important;
}

.select2-selection__arrow {
    width: 35px !important;
    height: 35px !important;
    background: url("#{resource['img:arrow_down.png']}") no-repeat right #ffffff;
    right: 0px !important;
    top: 0px !important;
}

.select2-selection__arrow > b {
    display: none;
}

.select2-selection__rendered {
    padding-top: 2px !important;
}

.select2-results__option--highlighted {
    background-color: #4C4C4C !important;
    color: white !important;
}

.wizardPseudoClass > div:nth-child(1) > div {
    width: 100% !important;
    border-radius: 0px !important;
}

.panel {
    border-radius: 0px !important;
    border: none !important;
}

.panel-group {
    margin-bottom: 15px !important;
}

.panel-heading {
    border-radius: 0px !important;
    background-color: orangered !important;
    color: white !important;
    font-family: BebasNeueRegular;
    color: white;
    text-align: center;
}

.panel-title {
    font-size: 24px !important;
    padding: 4px;
}

.panel-title-link:after {
    display: none !important;
}

.panel-body {
    border: 1px solid #e6e6e6;
    border-bottom: 3px solid orangered;
    box-shadow:0 3px 6px 0 rgba(230, 230, 230, 0.7) ;
    -moz-box-shadow:0 3px 6px 0 rgba(230, 230, 230, 0.7) ;
    -webkit-box-shadow:0 3px 6px 0 rgba(230, 230, 230, 0.7) ;
    -khtml-box-shadow:0 3px 6px 0 rgba(230, 230, 230, 0.7) ;
    padding: 15px;
}

.custom-textarea {
    border: 1px solid #ddd !important;
    border-radius: 0px !important;
    box-shadow: none !important;
    resize: vertical !important;
    min-height: 35px !important;
    height: 150px !important;
    margin-bottom: 10px !important;
    margin-top: 5px;
}

.custom-textarea:focus {
    border-color: #ccc !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(170, 170, 170, 0.6) !important;
}

.custom-textarea-error {
    border: 1px solid #DC3545 !important;
    margin-bottom: 5px !important;
}

.custom-textarea-error:focus {
    border-color: red !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(204, 204, 204, 0.6) !important;
}

.add-field-button {
    width: 35px !important;
    height: 35px !important;
    background-color: #4C4C4C !important;
    color: white !important;
    border-radius: 0px !important;
    padding: 0px !important;
}

.save-field-button {
    width: 35px !important;
    height: 35px !important;
    background-color: #4C4C4C !important;
    color: white !important;
    border-radius: 0px !important;
    padding: 0px !important;
    font-size: 18px !important;
    padding-top: 5px !important;
    padding-left: 1px !important;
    border-color: #4c4c4c !important;
    margin-left: 0px !important;
}

.remove-field-button {
    background-color: #aaa !important;
    color: white !important;
    border-radius: 0px !important;
    border: none !important;
    padding: 0px !important;
    height: 100% !important;
    padding: 0px 6px !important;
    font-size: 12px !important;
    padding-bottom: 0.5px !important;
}

.custom-tooltip {
    background-color: transparent !important;
    color: #aaa !important;
    border: 1px solid #aaa;
    padding: 0px 4px !important;
    border-radius: 0px !important;
    font-size: 12px; 
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
    height: 16px !important;
    line-height: 16px !important;
}

.tooltip-inner {
    text-align: left !important;
    padding: 10px !important;
    z-index: 999 !important;
}

.absolute-row {
    height: 35px;
    position: absolute;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    display: none;
    top: 0px;
}

.tt-open {
    border-radius: 0px !important;
    margin-top: -10px !important;
    border-top: none !important;
}

.custom-tag {
    display: inline-block;
    background-color: #aaa;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 3px 6px;
    padding-right: 0px;
    font-family: Helvetica !important;
    font-size: 14px !important;
}

.panel-title-link, .panel-title-link:hover, .panel-title-link:active, .panel-title-link:visited, .panel-title-link:focus  {
    text-decoration: none !important;
}

.form-step-button {
    border: none !important;
    background: #aaa !important;
    color: white !important;
    font-family: BebasNeueRegular;
    font-size: 20px !important;
    border-radius: 0px !important;
    font-size: 16px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    height: 40px;
}

.form-step-button-sm {
    border: none !important;
    background: #aaa !important;
    color: white !important;
    font-family: BebasNeueRegular;
    font-size: 18px !important;
    border-radius: 0px !important;
    font-size: 14px !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
    height: 32px;
}

.form-step-buttons-row {
    margin-left: 0px !important;
}

.form-step-buttons-row > div:nth-child(1) {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.form-step-buttons-row > div:nth-child(2) {
    padding-left: 0px !important;
    padding-right: 0px !important;
    text-align: right !important;
}

.input-error-message {
    color: #DC3545 !important;
    margin-bottom: 10px;
}

.input-error-message-hidden {
    display: none;
}

#javax_faces_developmentstage_messages {
    display: none !important;
}

.custom-messages {
    margin-top: 0px !important;
    margin-bottom: 10px !important;
    padding: 10px !important;
    border-radius: 0px !important;
}

.bf-message-icon {
    position: absolute !important;
    padding-top: 3px !important;
}

.bf-message-detail {
    padding-left: 24px !important;
}

.organizacija-naziv-header {
    font-family: BebasNeueRegular;
    font-size: 26px;
    padding-top: 10px;
}

.organizacija-detail-wrapper {
    margin-top: 15px;
}

.organizacija-detail-header {
    font-weight: bold;
    height: 28px;
    line-height: 28px;
}

.organizacija-detail-content {
    padding: 0px !important;
    padding-right: 15px !important;
}

.bordered-container-red-bottom {
    margin-top: 15px !important;
    margin-left: 0px !Important;
    margin-right: 0px !important;
    margin-bottom: 30px !important;
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #e6e6e6;
    border-bottom: 3px solid orangered;
    box-shadow:0 3px 6px 0 rgba(230, 230, 230, 0.7) ;
    -moz-box-shadow:0 3px 6px 0 rgba(230, 230, 230, 0.7) ;
    -webkit-box-shadow:0 3px 6px 0 rgba(230, 230, 230, 0.7) ;
    -khtml-box-shadow:0 3px 6px 0 rgba(230, 230, 230, 0.7) ;
}

.edit-info-button {
    border-radius: 0px !important;
    border-color: orangered !important;
    background-color: orangered !important;
    color: white !important;
    font-size: 14px !important;
    padding: 3px 6px !important;
}

.remove-edit-info-button {
    border-radius: 0px !important;
    border-color: #ddd !important;
    background-color: #ddd !important;
    color: #4C4C4C !important;
    font-size: 14px !important;
    padding: 3px 6px !important;
    padding-top: 4px !important;
    padding-bottom: 2px !important;
}

.organizacija-detail-content > table > tbody > tr > td:nth-child(2) {
    vertical-align: top !important;
}

.organizacija-detail-content > table > tbody > tr > td:nth-child(1) {
    padding-right: 15px;
}

.custom-div-separator {
    margin-top: 5px;
    margin-bottom: 5px;
    border-top: 1px solid #eee;
}

.edit-form-input {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    height: 28px !important;
}

.field-wrapper {
    display: none;
}

.field-wrapper > td {
    padding-bottom: 5px;
}

.edit-place-fields-container > div:nth-child(1), .modal-buttons-wrapper > div:nth-child(1) {
    padding-right: 7.5px;
}

.edit-place-fields-container > div:nth-child(2), .modal-buttons-wrapper > div:nth-child(2) {
    padding-left: 7.5px;
}

.no-content {
    text-align: center;
    padding-bottom: 40px;
    padding-top: 25px;
    /*font-family: BebasNeueRegular;
    font-size: 18px;*/
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.custom-file-input-btn {
    border: none !important;
    color: white;
    font-family: BebasNeueRegular;
    background-color: orangered;
    padding: 6px 12px;
    border-radius: 0px;
    font-size: 14px !important;
    font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer !important;
}

.remove-file-btn {
    border-radius: 0px !important;
    background-color: #ccc !important;
    border: none !important;
    color: white !important;
    margin-top: -25px !important;
    margin-left: 5px !important;
    padding-left: 9px !important;
    padding-right: 9px !important;
    display: inline-block !important;
}

.datepicker-days > table > thead > tr:nth-child(1) {
    background-color: orangered !important;
}

.datepicker-days > table > thead > tr:nth-child(1) > th {
    color: white !important;
    font-family: BebasNeueRegular;
    font-size: 18px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.datepicker-days > table > thead > tr:nth-child(1) > th:hover {
    background-color: orangered !important;
}

/*
.datepicker-days > table > thead > tr:nth-child(1) > th:nth-child(1) {
    padding-left: 10px !important;
}

.datepicker-days > table > thead > tr:nth-child(1) > th:nth-child(3) {
    padding-right: 10px !important;
}
*/

.datepicker-days > table > thead > tr:nth-child(2) > th {
    padding-top: 7.5px !important;
    padding-bottom: 7.5px !important;
}

.datepicker-days > table {
    font-size: .9em;
    font-family: BebasNeueRegular;
}

.datepicker-days > table > tbody > tr > td {
    text-align: right !important;
    padding: 2px !important;
    border-radius: 0px !important;
}

.datepicker-days > table > tbody > tr > .today {
    color: white !important;
    border-radius: 0px !Important;
    background-color: #FF7F50 !important;
}

.datepicker-days > table > tbody > tr > .active {
    background-color: orangered !important;
    color: white !important;
    border-radius: 0px !important;
}

.datepicker-days > table > tbody > tr > .today:before {
    display: none !important;
}

#nov_dogadjaj\:vremePocetka > .input-group-addon {
    padding-left: 11px !important;
    padding-right: 11px !important;
}

#nov_dogadjaj\:vremeKraja > .input-group-addon {
    padding-left: 11px !important;
    padding-right: 11px !important;
}

.timepicker-picker > .table-condensed {
    width: 180px !important;
    height: 100px !important;
    margin-left: 5px;
    margin-right: 23px;
    background-color: white !important;
}

.timepicker-picker > .table-condensed > tr > td > a > span {
    color: orangered !important;
}

.timepicker-picker > .table-condensed > tr > td > button {
    background-color: orangered !important;
    color: white !important;
    border-radius: 0px !important;
    font-size: 16px !important;
    font-family: BebasNeueRegular !important;
    border: none !important;
    width: 100% !important;
    height: 100% !important;
    line-height: 30px !important;
    text-align: center !important;
    padding: 0px !important;
    margin-left: 10px;
    margin-bottom: 2px;
}

.timepicker-hour, .timepicker-minute, .timepicker-second {
    font-family: BebasNeueRegular !important;
    font-size: 18px !important;
}

.timepicker-picker > .table-condensed > tr > .separator {
    font-family: BebasNeueRegular !important;
    font-size: 18px !important;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    border: 1px solid #ccc !important;
    border-radius: 0px !important;
    box-shadow: none !important;
    top: 35px !Important;
    padding: 0px !important;
    width: auto !important;
}

.bootstrap-datetimepicker-widget.dropdown-menu:before,
.bootstrap-datetimepicker-widget.dropdown-menu:after {
    display: none !important;
}

.bootstrap-datetimepicker-widget table td span {
    line-height: 30px !important;
    height: 100% !important;
    width: 100% !important;
    margin: 0px !important;
}

.bootstrap-datetimepicker-widget table td a {
    padding: 0px !important;
}

.bootstrap-datetimepicker-widget table td {
    line-height: 30px !important;
    height: 30px !important;
    width: 30px !important;
}

.timepicker-hours > table > tr > td,
.timepicker-minutes > table > tr > td,
.timepicker-seconds > table > tr > td {
    font-family: BebasNeueRegular;
    font-size: 16px !important;
}

.timepicker-hours, .timepicker-minutes, .timepicker-seconds {
    margin: 5px !important;
}

.custom-datetimepicker-bootsfaces-error > input {
    border-color: #DC3545 !important;
}

.custom-datetimepicker-bootsfaces-error > input:focus {
    border-color: red !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(204, 204, 204, 0.6) !important;
}

.bootstrap-timepicker-widget.dropdown-menu { 
    z-index: 1050!important; 
}

.event-dates-container {
    margin: auto !important;
    border: 1px solid #ddd;
}

.event-dates-container > div {
    padding: 5px 6px;
    text-align: center;
    font-family: BebasNeueRegular;
    font-size: 16px;
}

.event-dates-container > div:nth-child(1) {
    text-align: right;
}

.event-dates-container > div:nth-child(3) {
    text-align: left;
}

.event-mesto-container {
    margin-top: 10px;
    margin-bottom: 5px;
}

.date-container {
    text-align: center;
    border: 1px solid #ddd;
    padding: 6px;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: BebasNeueRegular;
}

.expired {
    opacity: 0.4;
}

#pretraga_dogadjaja\:datum_dogadjaja > .ui-datepicker {
    width: 100% !important;
    padding: 0px !important;
    border: none !important;
    margin-top: 20px;
}

.search-col-1 > div > span > span:nth-child(1) > span:nth-child(1) {
    height: 40px !important;
    padding-top: 3px !important;
}

.search-col-1 > div > span > span:nth-child(1) > span:nth-child(1) > span:nth-child(2) {
    width: 40px !important;
    height: 40px !important;
    background: url("#{resource['img:arrow_down_gray.png']}") no-repeat center #4C4C4C;
}

.dataTables_empty:before {
    content: "Nema rezultata za zadate kriterijume :(";
    position: absolute;
    background-color: white;
    width: 100%;
    left: 0px;
}

table.dataTable tbody tr.selected, table.dataTable tbody th.selected, table.dataTable tbody td.selected {
    color: #333 !important;
    background-color: #ddd !important;
}

table.dataTable tbody tr.selected a, table.dataTable tbody th.selected a, table.dataTable tbody td.selected a {
    color: orangered !important;
}

.nav-pills > li > a {
    color: #333 !important;
    padding: 5px 10px;
    font-family: BebasNeueRegular;
    font-size: 16px;
    border-radius: 0px !important;
}

.pillLinkButton {
    border-radius: 0px !important;
    border: none !important;
    font-family: BebasNeueRegular !important;
    font-size: 16px !important;
    padding: 10px 15px !important;
}

#vest\:progressBar {
    border-radius: 0px;
    margin: auto;
    margin-bottom: 15px;
    background-color: #eee;
    box-shadow: none;
    height: 5px;
    border-radius: 5px;
}

#vest\:progressBar > .progress-bar {
    background-color: #4C4C4C !important;
}

#vest\:progressBar > .progress-bar > span {
    display: none;
}

#dogadjaj\:progressBar {
    border-radius: 0px;
    margin: auto;
    margin-bottom: 15px;
    background-color: #eee;
    box-shadow: none;
    height: 5px;
    border-radius: 5px;
}

#dogadjaj\:progressBar > .progress-bar {
    background-color: #4C4C4C !important;
}

#dogadjaj\:progressBar > .progress-bar > span {
    display: none;
}

#oglas\:progressBar {
    border-radius: 0px;
    margin: auto;
    margin-bottom: 15px;
    background-color: #eee;
    box-shadow: none;
    height: 5px;
    border-radius: 5px;
}

#oglas\:progressBar > .progress-bar {
    background-color: #4C4C4C !important;
}

#oglas\:progressBar > .progress-bar > span {
    display: none;
}

#sifarnici\:progressBar {
    border-radius: 0px;
    margin: auto;
    margin-bottom: 15px;
    background-color: #eee;
    box-shadow: none;
    height: 5px;
    border-radius: 5px;
}

#sifarnici\:progressBar > .progress-bar {
    background-color: #4C4C4C !important;
}

#sifarnici\:progressBar > .progress-bar > span {
    display: none;
}

#korisnici\:progressBar {
    border-radius: 0px;
    margin: auto;
    margin-bottom: 15px;
    background-color: #eee;
    box-shadow: none;
    height: 5px;
    border-radius: 5px;
}

#korisnici\:progressBar > .progress-bar {
    background-color: #4C4C4C !important;
}

#korisnici\:progressBar > .progress-bar > span {
    display: none;
}

#obavestenja\:progressBar {
    border-radius: 0px;
    margin: auto;
    margin-bottom: 15px;
    background-color: #eee;
    box-shadow: none;
    height: 5px;
    border-radius: 5px;
}

#obavestenja\:progressBar > .progress-bar {
    background-color: #4C4C4C !important;
}

#obavestenja\:progressBar > .progress-bar > span {
    display: none;
}

.error {
    border: 1px solid #DC3545;
}

.questionNumberContainer {
    background-color: orangered;
    color: white;
    font-family: BebasNeueRegular;
    font-size: 16px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
}

.custom-radiobutton {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    position: relative;
}

.custom-radiobutton-unchecked {
    background-color: #eee;
}

.custom-radiobutton-unchecked:hover {
    background-color: #ccc;
}

.custom-radiobutton-checked {
    border: 8px solid orangered;
    background-color: white;
}

.custom-radiobutton-bootsfaces {
    position: absolute !important;
    width: 25px;
    height: 25px;
    margin-top: 0px !important;
}

.custom-radiobutton-bootsfaces > label {
    width: 25px !important;
    height: 25px !important;
    padding-left: 25px !important;
    cursor: pointer !important;
}

.radio input[type="radio"], 
.radio-inline input[type="radio"] {
    cursor: pointer !important;
    /*visibility: hidden;*/
}