/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 6, 2018, 2:38:21 AM
    Author     : Nina
*/

html, body {
    height: 100%;
}

body {
    font-family: Arial !important;
    background-image: url("#{resource['img:bg1.jpg']}");

    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    margin-top: 120px;
}

.footer-top-container {
    background-color: #ccc;
    color: #4C4C4C;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 16px;
}

.footer-top-container > div > div > div:nth-child(1) {
    text-align: center;
    /*padding-left: 0px;*/
}

.footer-top-container > div > div > div:nth-child(1) > table > tbody > tr:nth-child(1) > td {
    padding-bottom: 10px;
}

.footer-top-container > div > div > div:nth-child(1) > table > tbody > tr:nth-child(1) > td > span {
    font-family: BebasNeueRegular;
    font-size: 22px;
}

.footer-top-container > div > div > div:nth-child(2) {
    text-align: center;
}

.footer-top-container > div > div > div:nth-child(2) > table > tbody > tr:nth-child(1) > td {
    padding-bottom: 10px;
}

.footer-top-container > div > div > div:nth-child(2) > table > tbody > tr:nth-child(1) > td > span {
    font-family: BebasNeueRegular;
    font-size: 22px;
}

.footer-top-container > div > div > div:nth-child(3) {
    text-align: right;
    padding-right: 0px;
}

.footer-bottom-container {
    background-color: #4C4C4C;
    color: white;
    font-size: 12px;
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 40px;
}

.footer-bottom-container > div > div > div:nth-child(1) {
    text-align: left;
    padding-left: 0px;
}

.footer-bottom-container > div > div > div:nth-child(2) {
    text-align: right;
    padding-right: 0px;
}

@font-face {
    font-family: "BebasNeueRegular";
    src: url("#{resource['fonts:BebasNeueRegular.otf']}");
}

.boldText {
    font-weight: bold;
}

.defaultTopMargin {
    margin-top: 100px;
}

.loginButton {
    width: 100%;
}

nav {
    border: none !important;
}

.navbar {
    margin-bottom: 40px !important;
}

.navbar-nav {
    width: 100% !important;
    text-align: center !important;
    border: 0px;
}

.navbar-nav > li {
    float: none !important; 
    display: inline-block !important;
    padding: 15px 30px;
    padding-bottom: 10px;
}

.navbar-nav > li > form > a {
    color: white !important;
    text-transform: uppercase;
    font-family: BebasNeueRegular, arial, Georgia, serif;
    font-size: 20px !important;
}

.navbar-nav > li > form > a:hover {
    text-decoration: none !important;
}

.navbar-nav > li > form > a:active {
    text-decoration: none !important;
}

.navbar-nav > li > form > a:visited {
    text-decoration: none !important;
}

#navbar-categories {
    background-color: orangered;
}

.cultural-icon {
    height: 50px;
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
    padding-bottom: 10px;
}

#top-nav {
    background-color: coral;
    color: white;
    padding-top: 10px;
}

.top-nav-link {
    color: white !important;
    font-weight: bold;
}

.top-nav-link:hover {
    color: white !important;
    font-weight: bold;
    text-decoration: none;
}

#nav-middle {
    background-color: coral;
    padding-bottom: 30px;
    padding-top: 10px;
    width: 100%;
}

.nav-logo {
    height: 50px;
    -webkit-filter: brightness(0) invert(0.3);
    filter: brightness(0) invert(0.3);
}

.nav-logo-footer {
    height: 40px;
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}

.logo-col {
    padding-left: 0px !important;
}

.search-col-1 {
    text-align: right;
    padding-right: 0px !important;
    padding-top: 5px;
}

.search-col-2 {
    padding-right: 0px !important;
    padding-left: 0px !important;
    height: 50px;
    padding-top: 5px;
}

.search-input-text {
    border: none !important;
    border-radius: 0px !important;
    height: 40px !important;
}

.search-button {
    border: none !important;
    border-radius: 0px !important;
    height: 40px;
    background-color: #4C4C4C !important;
    color: white !important;
    width: 41px !important;
}

.filter-button {
    background-color: #4C4C4C !important;
    border-radius: 0px !important;
    border: none !important;
    color: white !important;
    height: 40px;
    padding-left: 15px !important;
    padding-right: 15px !important;
    font-family: BebasNeueRegular;
    font-size: 16px !important;
}

.modal-content {
    border-radius: 0px !important;
    border: none !important;
}

#amodal_header {
    display: none;
}

.stripe-line-header {
    width: 100%;
    background-image: url("#{resource['img:stripe.png']}");
    height: 12px;
    text-align: center;
}

.stripe-line-header-content {
    display: inline-block;
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    font-family: BebasNeueRegular;
    font-size: 22px;
    margin-top: -15px;
}

.search-type-option {
    font-family: BebasNeueRegular;
    font-size: 16px;
    border: 1px solid #eee;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.event-type-option {
    text-align: center;
    padding-top: 10px;
}

.search-type-checkbox {
    margin-top: 6px !important;
}

.custom-checkbox {
    height: 25px;
    width: 25px;
    display: inline-block;
}

.custom-checkbox-unchecked {
    background-color: #eee;
}

.custom-checkbox-unchecked:hover {
    background-color: #ccc;
}

.custom-checkbox-checked {
    background-image: url("#{resource['img:checked.png']}");
    background-size: cover;
}

.custom-checkbox > div > div > label {
    min-height: 25px;
    min-width: 25px;
}

.custom-checkbox > div > div > label > input {
    cursor: pointer;
}

.custom-checkbox-checked {
    background-image: url("#{resource['img:checked.png']}");
    background-size: contain;
}

.custom-checkbox > div > div {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.custom-checkbox > div {
    margin-bottom: 0px !important;
}

.custom-checkbox-bootsfaces {
    visibility: hidden;
}

.place-select {
    border-radius: 0px !important;
    border: 1px solid #eee !important;
}

.custom-select {
    margin-top: 20px;
    outline: none !important;
    margin-bottom: 20px;
}

.custom-select > div select {
    background: transparent;
    padding: 5px;
    height: 35px;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    outline: none !important;
    box-shadow: none;
}

.custom-select > div select:focus {
    outline: none !important;
}

.custom-select > span {
    font-family: BebasNeueRegular;
    font-size: 18px;
}

.custom-select > div select::-ms-expand {
    display: none !important;
}

.custom-select > div {
    background: url("#{resource['img:arrow_down.png']}") no-repeat right #ffffff;
    overflow: hidden;
    height: 35px;
    outline: none !important;
}

select:focus {
    outline: none !important;
    outline-color: transparent !important;
}

.custom-datepicker {
    margin-top: 20px;
    margin-bottom: 20px;
}

.custom-datepicker-bootsfaces {
    cursor: pointer;
    margin-top: 20px;
}

.custom-datepicker-bootsfaces > div {
    width: 100%;
    border: 1px solid #eee !important;
    padding: 0px;
}

.custom-datepicker-bootsfaces > input {
    height: 35px;
    border-radius: 0px !important;
    border: 1px solid #ccc;
    box-shadow: none !important;
}

.custom-datepicker-bootsfaces > span {
    padding-left: 11px;
    padding-right: 10px;
    border-radius: 0px !important;
    background-color: orangered;
}

.custom-datepicker-bootsfaces > span > span {
    color: white !important;
}

.ui-datepicker {
    border-radius: 0px !important;
    border-color: #ccc !important;
}

.ui-datepicker-header {
    border-radius: 0px !important;
    background-color: orangered !important;
    color: white !important;
    font-family: BebasNeueRegular;
    font-size: 18px !important;
}

.ui-datepicker-prev {
    color: white !important;
}

.ui-datepicker-next {
    color: white !important;
}

.ui-datepicker-prev:hover {
    background-color: orangered !important;
    border: none !important;
    cursor: pointer;
}

.ui-datepicker-next:hover {
    background-color: orangered !important;
    border: none !important;
    cursor: pointer;
}

.ui-datepicker-calendar {
    font-family: BebasNeueRegular;
}

.ui-state-default {
    background: #eee !important;
    border-color: #eee !important;
}

.ui-state-highlight {
    background-color: coral !important;
    color: white !important;
    border-color: coral !important;
}

.ui-state-active {
    background-color: orangered !important;
    color: white !important;
}

.big-red-button {
    width: 100% !important;
    background-color: orangered !important;
    border-radius: 0px !important;
    border: none !important;
    height: 35px;
    font-family: BebasNeueRegular;
    font-size: 18px !important;
    line-height: 18px !important;
}

#amodal_footer {
    border: none !important;
    padding-top: 0px !important;
}

#amodal_body {
    padding-bottom: 0px !important;
}

.main-content {
    background-color: white;
}

.main-content > div {
    padding: 10px;
}

.featured-col-container {
    padding: 5px !important;
}

.featured-col {
    position: relative;
    background-size: cover !important;
    background-position: center !important;
}

.featured-col-bigger {
    padding-bottom: 50%;
}

.featured-col-smaller {
    padding-bottom: 60%;
}

.featured-content {
    border: 1px solid #ccc;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

/*.featured-bigger {
    height: 215px !important;
}

.featured-smaller {
    height: 215px !important;
}*/

.featured-content-table {
    width: 100%;
    height: 100%;
    background-position: center !important;
    -webkit-background-size: cover !important;
    background-size: cover !important;
    -o-background-size: cover !important;
    position: absolute;
}

.featured-content-table > tbody > tr > td {
    padding: 20px !important;
}

.featured-content-table > tbody > tr:nth-child(1) > td {
    padding-bottom: 0px !important;
    vertical-align: top;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100 */
    background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.featured-content-table tbody tr:nth-child(2) td {
    padding-top: 0px !important;
    vertical-align: bottom;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100 */
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a2000000',GradientType=0 ); /* IE6-9 */
}

.date-table {
    color: white;
    font-size: 12px;
}

.date-table > tbody > tr > td {
    vertical-align: middle;
}

.date-table > tbody > tr > td:nth-child(1) {
    padding-top: 1px;
    padding-right: 10px;
}

.featured-news-header {
    color: white;
    font-size: 16px;
    font-weight: bold;
    /*height: 23px;
    overflow: hidden;*/
    margin-top: 7px;
    line-height: 19px;
}

.featured-news-content {
    color: white;
    font-size: 12px;
    height: 35px;
    overflow: hidden;
    margin-top: 7px;
}

.news-category-header {
    text-align: left !important;
}

.news-category-header > div:nth-child(1) {
    display: inline-block;
    background-color: white;
    padding-right: 15px;
    font-family: BebasNeueRegular;
    font-size: 22px;
    margin-top: -15px;
}

.events-calendar > div {
    display: inline-block;
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    font-family: BebasNeueRegular;
    font-size: 22px;
    margin-top: -15px;
}

.page-content {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 15px;
}

.event-keywords {
    border-radius: 0px !important;
    border: 1px solid #eee !important;
    box-shadow: none !important;
}

.form-group {
    margin-bottom: 0px !important;
}

.featured-news-category {
    background-color: orangered;
    color: white;
    text-transform: uppercase;
    display: inline-block;
    padding: 5px 10px;
    font-size: 12px;
    margin-bottom: 5px;
}

.news-category-front-page {
    margin-top: 15px !important;
    margin-left: 0px !Important;
    margin-right: 0px !important;
    margin-bottom: 30px !important;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #e6e6e6;
    border-bottom: 3px solid orangered;
    -webkit-box-shadow: 0 0 10px #e6e6e6;
    box-shadow: 0 0 10px #e6e6e6;
}

.news-image-container-front-page {
    position: relative;
    width: 100%;
    padding-bottom: 60%;
    background-size: cover !important;
    background-position: center !important;
}

.news-header-container-front-page {
    margin-top: 10px;
    font-weight: bold;
    height: 40px;
    overflow: hidden;
}

.news-content-container-front-page {
    margin-top: 5px;
    font-size: 12px;
    height: 69px;
    overflow: hidden;
}

.test-class {
    width: 100%;
    position: relative;
    padding-bottom: 60%;
}

.news-category-icon-footer {
    width: 20px;
    -webkit-filter: brightness(0) invert(0.3);
    filter: brightness(0) invert(0.3);
}

.news-category-footer {
    font-family: BebasNeueRegular;
}

.news-thumbnail-container {
    width: 100%;
    padding-bottom: 65%;
    position: relative;
    background-position: center !important;
    background-size: cover !important;
    margin-top: 5px;
}

.news-data-table {
    border: none !important;
}

.news-data-table > thead {
    display: none;
}

.odd {
    background-color: transparent !important;
}

.even {
    background-color: transparent !important;
}

.news-data-table > tbody > tr > td {
    border: none !important;
    width: 50%;
    border-bottom: 1px solid #eee !important;
    padding-bottom: 12px !important;
}

.news-data-table > tbody > tr > td:nth-child(2) {
    padding-top: 28px;
}

table.dataTable {
    border: none !important;
}

.news-heading {
    font-size: 16px;
    font-weight: bold;
    color: #4C4C4C;
}

.news-text {
    font-size: 14px;
}

.read-more-button {
    background-color: orangered !important;
    color: white !important;
    border: none !important;
    border-radius: 0px !important;
    padding: 5px 15px !important;
    font-size: 16px !important;
    text-transform: uppercase;
    font-family: BebasNeueRegular;
}

.news-date {
    font-size: 12px;
}

.news-category-img-icon {
    -webkit-filter: brightness(0) invert(0.1);
    filter: brightness(0) invert(0.1);
    width: 12px;
    margin-bottom: 3px;
}

.pagination {
    font-size: 14px !important;
    font-family: BebasNeueRegular;
    margin-right: 15px !important;
}

.paginate_button > a {
    border: 1px solid #eee !important;
    color: #4C4C4C !important;
}

.active > a {
    background-color: orangered !important;
    border-color: orangered !important;
    font-family: BebasNeueRegular;
    font-size: 14px !important;
    color: white !important;
}

.previous > a {
    border-radius: 0px !important;
    visibility: hidden;
}

.previous > a:after {
    content: "Prethodna";
    position: absolute;
    border: 1px solid #eee;
    padding: 6px 12px;
    margin-top: -7px;
    margin-left: -62px;
    visibility: visible;
}

.next > a {
    border-radius: 0px !important;
    visibility: hidden;
}

.next > a:before {
    content: "Sledeća";
    position: absolute;
    border: 1px solid #eee;
    padding: 6px 12px;
    margin-top: -7px;
    margin-left: -13px;
    visibility: visible;
}

.dataTables_wrapper > div:nth-child(1) > div:nth-child(1) {
    display: none;
}

.dataTables_wrapper > div:nth-child(1) > div:nth-child(2) {
    max-width: 100% !important;
    width: 100% !important;
}

.dataTables_filter {
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}

.dataTables_filter > label {
    margin-right: 0px !important;
}

.dataTables_filter > label > input {
    margin-right: 0px !important;
    height: 40px !important;
    border-radius: 0px !important;
    border-color: #ddd;
    padding: 6px 12px !important;
    box-shadow: none !important;
}

.dataTables_filter > label:before {
    content: 'Pretraga';
    position: absolute;
    background-color: #4C4C4C;
    color: white;
    font-family: BebasNeueRegular;
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    margin-left: -25px;
}

.dataTables_wrapper {
    margin-top: 20px;
}

.dataTables_paginate {
    padding-top: 10px;
}

.news-content-sm-devices {
    padding-top: 5px;
    display: none;
}

.customNewsLink, .customNewsLink:hover, .customNewsLink:active, .customNewsLink:visited, .customNewsLink:focus {
    color: #4C4C4C;
    text-decoration: none;
}

.news-thumbnail-header {
    margin-top: 20px;
    width: 100%;
}

.news-title-news-page {
    padding-top: 20px;
    font-family: BebasNeueRegular;
    font-size: 26px;
}

.news-parameters-news-page {
    font-size: 12px;
    margin-top: 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.login-form-wrapper {
    margin-top: 20px;
}

.login-form-wrapper > div:nth-child(1) {
    padding-right: 7.5px !important;
}

.login-form-wrapper > div:nth-child(2) {
    padding-left: 7.5px !important;
}

.login-form-container {

}

.login-form-header {
    background-color: orangered;
    font-family: BebasNeueRegular;
    font-size: 24px;
    color: white;
    text-align: center;
    padding: 10px;
}

.login-form-content {
    border: 1px solid #e6e6e6;
    border-bottom: 3px solid orangered;
    box-shadow:0 3px 6px 0 rgba(230, 230, 230, 0.7) ;
    -moz-box-shadow:0 3px 6px 0 rgba(230, 230, 230, 0.7) ;
    -webkit-box-shadow:0 3px 6px 0 rgba(230, 230, 230, 0.7) ;
    -khtml-box-shadow:0 3px 6px 0 rgba(230, 230, 230, 0.7) ;
    padding: 15px;
}

.login-form-label {
    font-weight: bold;
}

.login-form-input {
    border: 1px solid #ddd !important;
    border-radius: 0px !important;
    height: 35px !important;
    margin-top: 5px;
    box-shadow: none !important;
}

.login-form-input:focus {
    border-color: #ccc !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(170, 170, 170, 0.6) !important;
}

.login-form-submit {
    border: none !important;
    background: #4C4C4C !important;
    color: white !important;
    font-family: BebasNeueRegular;
    width: 100%;
    font-size: 20px !important;
    border-radius: 0px !important;
    margin-top: 15px;
}

.select2, .select2-selection {
    height: 35px !important;
    width: 100% !important;
}

.select2-selection, .select2-search__field, select2-dropdown, .select2-dropdown--above, .select2-dropdown--below {
    border-radius: 0px !important;
    border: 1px solid #ddd !important;
}

.select2-dropdown--above, .select2-dropdown--below {
    background-color: #eee !important;
}

.select2-selection__arrow {
    width: 35px !important;
    height: 35px !important;
    background: url("#{resource['img:arrow_down.png']}") no-repeat right #ffffff;
    right: 0px !important;
    top: 0px !important;
}

.select2-selection__arrow > b {
    display: none;
}

.select2-selection__rendered {
    padding-top: 2px !important;
}

.select2-results__option--highlighted {
    background-color: #4C4C4C !important;
    color: white !important;
}

.wizardPseudoClass > div:nth-child(1) > div {
    width: 100% !important;
    border-radius: 0px !important;
}

.panel {
    border-radius: 0px !important;
    border: none !important;
}

.panel-group {
    margin-bottom: 15px !important;
}

.panel-heading {
    border-radius: 0px !important;
    background-color: orangered !important;
    color: white !important;
    font-family: BebasNeueRegular;
    color: white;
    text-align: center;
}

.panel-title {
    font-size: 24px !important;
    padding: 4px;
}

.panel-title-link:after {
    display: none !important;
}

.panel-body {
    border: 1px solid #e6e6e6;
    border-bottom: 3px solid orangered;
    box-shadow:0 3px 6px 0 rgba(230, 230, 230, 0.7) ;
    -moz-box-shadow:0 3px 6px 0 rgba(230, 230, 230, 0.7) ;
    -webkit-box-shadow:0 3px 6px 0 rgba(230, 230, 230, 0.7) ;
    -khtml-box-shadow:0 3px 6px 0 rgba(230, 230, 230, 0.7) ;
    padding: 15px;
}

.custom-textarea {
    border: 1px solid #ddd !important;
    border-radius: 0px !important;
    box-shadow: none !important;
    resize: vertical !important;
    min-height: 35px !important;
    height: 150px !important;
}

.input-group-addon {
    background-color: #aaa !important;
    border-color: #AAA !important;
    border-radius: 0px !important;
    padding: 6px 9px !important;
    border: none !important;
    color: white !important;
}

.add-field-button {
    width: 35px !important;
    height: 35px !important;
    background-color: #4C4C4C !important;
    color: white !important;
    border-radius: 0px !important;
    padding: 0px !important;
}

.remove-field-button {
    background-color: #aaa !important;
    color: white !important;
    border-radius: 0px !important;
    border: none !important;
    padding: 0px !important;
    height: 100% !important;
    padding: 0px 6px !important;
    font-size: 12px !important;
    padding-bottom: 0.5px !important;
}

.custom-tooltip {
    background-color: transparent !important;
    color: #aaa !important;
    border: 1px solid #aaa;
    padding: 0px 4px !important;
    border-radius: 0px !important;
    font-size: 12px; 
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
    height: 16px !important;
    line-height: 16px !important;
}

.tooltip-inner {
    text-align: left !important;
    padding: 10px !important;
}

.absolute-row {
    height: 35px;
    position: absolute;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    display: none;
    top: 0px;
}

.tt-open {
    border-radius: 0px !important;
    margin-top: 0px !important;
    border-top: none !important;
}

.custom-tag {
    display: inline-block;
    background-color: #aaa;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 3px 6px;
    padding-right: 0px;
}

.panel-title-link, .panel-title-link:hover, .panel-title-link:active, .panel-title-link:visited, .panel-title-link:focus  {
    text-decoration: none !important;
}

.form-step-button {
    border: none !important;
    background: #aaa !important;
    color: white !important;
    font-family: BebasNeueRegular;
    font-size: 20px !important;
    border-radius: 0px !important;
    font-size: 16px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    height: 40px;
}

.form-step-buttons-row {
    margin-left: 0px !important;
}

.form-step-buttons-row > div:nth-child(1) {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.form-step-buttons-row > div:nth-child(2) {
    padding-left: 0px !important;
    padding-right: 0px !important;
    text-align: right !important;
}

.input-error-message {
    color: #DC3545;
}


