/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 6, 2018, 2:38:21 AM
    Author     : Nina
*/

body {
    background-image: url("#{resource['img:bg1.jpg']}");
}

@font-face {
    font-family: "BebasNeueRegular";
    src: url("#{resource['fonts:BebasNeueRegular.otf']}");
}

.boldText {
    font-weight: bold;
}

.defaultTopMargin {
    margin-top: 100px;
}

.loginButton {
    width: 100%;
}

nav {
    border: none !important;
}

.navbar-nav {
    width: 100% !important;
    text-align: center !important;
    border: 0px;
}

.navbar-nav > li {
    float: none !important; 
    display: inline-block !important;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-nav > li > a {
    color: white !important;
    text-transform: uppercase;
    font-family: BebasNeueRegular, arial, Georgia, serif;
    font-size: 20px;
}

#navbar-categories {
    background-color: orangered;
}

.cultural-icon {
    height: 50px;
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
    padding-bottom: 10px;
}

#top-nav {
    background-color: coral;
    color: white;
    padding-top: 10px;
}

.top-nav-link {
    color: white !important;
    font-weight: bold;
}

.top-nav-link:hover {
    color: white !important;
    font-weight: bold;
    text-decoration: none;
}

#nav-middle {
    background-color: coral;
    padding-bottom: 30px;
    padding-top: 10px;
    width: 100%;
}

.nav-logo {
    height: 50px;
    -webkit-filter: brightness(0) invert(0.3);
    filter: brightness(0) invert(0.3);
}

.logo-col {
    padding-left: 0px !important;
}

.search-col-1 {
    text-align: right;
    padding-right: 0px !important;
    padding-top: 5px;
}

.search-col-2 {
    padding-right: 0px !important;
    padding-left: 0px !important;
    height: 50px;
    padding-top: 5px;
}

.search-input-text {
    border: none !important;
    border-radius: 0px !important;
    height: 40px !important;
}

.search-button {
    border: none !important;
    border-radius: 0px !important;
    height: 40px;
    margin-top: -15px;
    background-color: #4C4C4C !important;
    color: white !important;
    width: 41px !important;
}

.filter-button {
    background-color: #4C4C4C !important;
    border-radius: 0px !important;
    border: none !important;
    color: white !important;
    height: 40px;
    padding-left: 15px !important;
    padding-right: 15px !important;
    font-family: BebasNeueRegular;
    font-size: 16px !important;
}

.modal-content {
    border-radius: 0px !important;
    border: none !important;
}

#amodal_header {
    display: none;
}

.stripe-line-header {
    width: 100%;
    background-image: url("#{resource['img:stripe.png']}");
    height: 12px;
    text-align: center;
}

.stripe-line-header-content {
    display: inline-block;
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    font-family: BebasNeueRegular;
    font-size: 22px;
    margin-top: -15px;
}

.search-type-option {
    font-family: BebasNeueRegular;
    font-size: 18px;
}

.event-type-option {
    text-align: center;
    padding-top: 10px;
}

.search-type-checkbox {
    margin-top: 6px !important;
}

.custom-checkbox {
    height: 25px;
    width: 25px;
    display: inline-block;
}

.custom-checkbox-unchecked {
    background-color: #eee;
}

.custom-checkbox-unchecked:hover {
    background-color: #ccc;
}

.custom-checkbox-checked {
    background-image: url("#{resource['img:checked.png']}");
    background-size: cover;
}

.custom-checkbox > div > div > label {
    min-height: 25px;
    min-width: 25px;
}

.custom-checkbox > div > div > label > input {
    cursor: pointer;
}

.custom-checkbox-checked {
    background-image: url("#{resource['img:checked.png']}");
    background-size: contain;
}

.custom-checkbox > div > div {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.custom-checkbox > div {
    margin-bottom: 0px !important;
}

.custom-checkbox-bootsfaces {
    visibility: visible;
}

.place-select {
    border-radius: 0px !important;
    border: 1px solid #ccc !important;
}

.custom-select {
    margin-top: 20px;
    outline: none !important;
    margin-bottom: 20px;
}

.custom-select > div select {
    background: transparent;
    padding: 5px;
    height: 35px;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    outline: none !important;
    box-shadow: none;
}

.custom-select > div select:focus {
    outline: none !important;
}

.custom-select > div select::-ms-expand {
    display: none !important;
}

.custom-select > div {
    background: url("#{resource['img:arrow.png']}") no-repeat right #ffffff;
    overflow: hidden;
    height: 35px;
    outline: none !important;
}

select:focus {
    outline: none !important;
    outline-color: transparent !important;
}

.custom-datepicker {
    margin-top: 20px;
    margin-bottom: 20px;
}

.custom-datepicker-bootsfaces {
    cursor: pointer;
}

.custom-datepicker-bootsfaces > input {
    height: 35px;
    border-radius: 0px !important;
    border: 1px solid #ccc;
    box-shadow: none !important;
}

.custom-datepicker-bootsfaces > span {
    padding-left: 11px;
    padding-right: 10px;
    border-radius: 0px !important;
    background-color: orangered;
}

.custom-datepicker-bootsfaces > span > span {
    color: white !important;
}

.ui-datepicker {
    border-radius: 0px !important;
    border-color: #ccc !important;
}

.ui-datepicker-header {
    border-radius: 0px !important;
    background-color: orangered !important;
    color: white !important;
    font-family: BebasNeueRegular;
    font-size: 18px !important;
}

.ui-datepicker-prev {
    color: white !important;
}

.ui-datepicker-next {
    color: white !important;
}

.ui-datepicker-prev:hover {
    background-color: orangered !important;
    border: none !important;
    cursor: pointer;
}

.ui-datepicker-next:hover {
    background-color: orangered !important;
    border: none !important;
    cursor: pointer;
}

.ui-datepicker-calendar {
    font-family: BebasNeueRegular;
}

.ui-state-default {
    background: #eee !important;
    border-color: #eee !important;
}

.ui-state-highlight {
    background-color: coral !important;
    color: white !important;
    border-color: coral !important;
}

.ui-state-active {
    background-color: orangered !important;
    color: white !important;
}

